Binaries
DerivedDataCache
Intermediate
Saved
Build
**/BlackAlder
**/Landscape
**/MedievalDungeon
**/Megascans
**/StarterContent
**/Assets
**/AnimalVarietyPack
**/AncientTreasures
**/AncientContent
**/ParagonMinions

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace